config/emacs/.config/emacs/elpa/
config/emacs/.config/emacs/var/
config/emacs/.config/emacs/**.elc
config/awesome/.config/awesome/lain/
config/awesome/.config/awesome/themes/
config/awesome/.config/awesome/themes~/
config/emacs/.config/emacs/straight/

