base-devel
setxkbmap -option caps:swapescape
stow
git
i3lock
firefox
lazygit
kitty
nvidia
nvidia-utils
nvidia-settings
nvtop
pipewire
pipewire-pulse
wireplumber
pavucontrol
nnn
r
xdg-utils
xorg
xorg-xinit
deepin-screenshot
brightnessctl
zathura
zathura-pdf-mupdf
vim
neovim
python-pip
dunst
tealdeer
qtile
rofi
keepassxc
fish
gum
xclip
cronie
mpv
libreoffice
lxappearance
discord
