base-devel
stow
i3-gaps
git
i3lock
firefox
lazygit
kitty
nvidia
nvidia-utils
nvidia-settings
nvtop
pulseaudio
pulseaudio-bluetooth
pavucontrol
nnn
r
steghide
xdg-utils
xorg
deepin-screenshot
brightnessctl
zathura
zathura-pdf-mupdf
neovim
python-pip
