base-devel
stow
git
i3lock
firefox
lazygit
kitty
nvidia
nvidia-utils
nvidia-settings
nvtop
pipewire
wireplumber
pulseaudio-bluetooth
pavucontrol
nnn
r
xdg-utils
xorg
xorg-xinit
deepin-screenshot
brightnessctl
zathura
zathura-pdf-mupdf
vim
neovim
python-pip
dunst
tealdeer
qtile
rofi
keepassxc
fish
gum
xclip
