keybinds {
  pane {
    bind "r" { TogglePaneFrames; }
  }
}

default_layout "compact"
pane_frames false

theme "jellybeans";
themes  {
  vscode  {
    fg  "#D4D4D4"
    bg  "#1E1E1E"
    black  "#1E1E1E"
    red  "#F44747"
    green  "#608B4E"
    yellow  "#DCDCAA"
    blue  "#569CD6"
    magenta  "#C586C0"
    cyan  "#9CDCFE"
    white  "#D4D4D4"
    orange  "#CE9178"
  }
  jellybeans {
    fg "#e4e4db"
    bg "#151515"
    black "#151515"
    red "#cf6a4c"
    green "#99ad6a"
    yellow "#fad07a"
    blue "#8197BF"
    magenta "#b267e6"
    cyan "#6796e6"
    white "#e8e8d3"
    orange "#da614e"
  }
}

