snippet base "Paper Template"
  ---
  title: $1
  documentclass: article
  papersize: a4
  geometry: margin=1in
  toc: true
  numbersections: true
  bibliography: ref.bib
  fontsize: 12pt
  fontfamily: times
  csl: apa.csl
  ---
