snippet base "A basic latex template"
	\\documentclass[12pt,a4paper]{article}

	\\usepackage{amsmath}
	\\usepackage[margin=1in]{geometry}
	\\usepackage[utf8]{inputenc}
	\\usepackage[T1]{fontenc}
	\\usepackage{hyperref}
	%\\usepackage{ebgaramond}

	\\begin{document}
	\\title{$1}
	\\author{Sabyasachi Bhoi}
	\\maketitle

	$2

	\\end{document}

snippet alnn "align*"
	\\begin{align*}
		$1	
	\\end{align*}
