default_dark_mode 1
page_separator_width 2
page_separator_color	0.3 0.34 0.42

dark_mode_background_color    1.0 0.20 0.25
dark_mode_background_color    1.0 0.20 0.25

background_color    0.18 0.20 0.25
dark_mode_background_color    0.18 0.20 0.25

ui_font JetBrainsMono Nerd Font
font_size 24

status_bar_font_size 20
